/* Header and Toolbar Styling */
ion-header {
    background: linear-gradient(135deg, #6a11cb, #2575fc); // Gradient background
    padding: 15px;
}

ion-toolbar {
    --background: transparent; // Make toolbar background transparent to show gradient
    --color: white;
}

ion-title {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}